<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <% personas.forEach(function (personas){ %>
                <div class="card"> 
                    <div class="card-header">
                         <%= personas.usuario%> / <%= personas.persona%> 
                    </div>
                    <div class="card-body">
<p><%=personas.pais%> / <%=personas.provincia%> /<%=personas.canton%>
</p>
                    </div>
                    <div class="card-footer">
<a href="/delete/<%= personas.usuario %>" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
            <%}) %>
        </div>
    </div>
</body>
</html>