<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factura</title>

    <script>
        var cliente;
        var detalle;
        var precio;
        var cantidad;
        var total;
        var subtotal=0;
        var subtotalP=0;
        var iva;
    
        function  generar(){
            cliente=document.getElementsById('cliente').value;
    
            document.write("Cliente:"+'&nbsp;' + cliente + "<br>");
    
            for (subtotal = 0; detalle !="*"; subtotal++) {
                detalle=prompt("Ingrese el producto:");
                document.write("Nombre del producto: " + '&nbsp;' +detalle+ '$nbsp;'+ 'nbsp;');
                precio=parseFloat(prompt("Ingrese precio:"))
                document.write("Precio: " + '&nbsp;' +precio+ '$nbsp;'+ 'nbsp;');
                cantidad=parseInt(prompt("Ingrese cantidad:"));
                document.write("Cantidad: " + '&nbsp;' +cantidad+ '$nbsp;'+ 'nbsp;');
    
                detalle = prompt('Ingrese "*" para terminar o cualquier tecla para continuar');
    
                subtotal = precio * cantidad;
                subtotalP=subtotal+parseInt(subtotal);
    iva=subtotalP*0.19;
    total=subtotalP+iva;
    document.write("Subtotal: " + '$nbsp;' + subtotal+"<br>"+"<br>");
    
            }
            document.write("Subtotal: "+'$nbsp;'+subtotal+"<br>"+"<br>");
            document.write("Total: "+'$nbsp;'+total+"<br>"+"<br>");
            document.write('<button onclick="window.print()">Imprimir Factura</button>');
        }
        generar();
    </script>
    <h2>Factura</h2>
</head>
<body>
    Nombre Cliente <br><input type="text" name="cliente" id="cliente">
    <input type="submit" name="Continuar" onclick="generar()" value="Continuar"/>
</body>
</html>