<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class = "card">
                <div class="card-body">
                    <form action="/" class="card card-body" method="POST">
                        <div class="form-group">
                        <label for="usuario">Usuario</label>
                        <input type="text" name="usuario" id="usuario">
                        </div>
                        <div class="form-group">
                        <label for="persona">Persona</label>
                        <input type="text" name="persona" id="persona">
                        </div>
                        <div class="form-group">
                        <label for="pais">Pais</label>
                        <input type="text" name="pais" id="pais">
                        </div>
                        <div class="form-group">
                        <label for="provincia">Provincia</label>
                        <input type="text" name="provincia" id="provincia">
                        </div>
                        <div class="form-group">
                        <label for="canton">Canton</label>
                        <input type="text" name="canton" id="canton">
                        </div>
                        <input type="submit" value="Ingresar" class="btn btn-primary">
                        <input onclick="location.href='http://localhost:5000/datos'" value="Ver Datos" class="btn btn-primary">
                        <input onclick="location.href='http://localhost:5000/datos'" value="Eliminar" class="btn btn-primary">
                        <input onclick="location.href='http://localhost:5000/factura'" value="Factura" class="btn btn-primary">
                    </form>
                </div>
                    </div>
        </div>
    </div>
</body>
</html>